*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/mx/tec/wodable/DBAtributosFisicos.java
/app/src/main/java/mx/tec/wodable/DBConnection.java
/app/src/main/java/mx/tec/wodable/DBRecorridos.java
/app/src/main/java/mx/tec/wodable/DBTest.java
/app/src/main/java/mx/tec/wodable/DBUsuarios.java